* {
  box-sizing: border-box;
}
/* to align all the elements on navbar */
.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.title {
  font-size: 60px;
  width: 100%;
  font-family: "Bungee Outline", cursive;
  text-align: center;
}
.title h1 {
  color: white;
}

.field {
  margin-left: auto;
}
#logo {
  height: 250px;
  width: 250px;
  float: left;
  margin: 2%;
}
.subtitle {
  padding-left: 300px;
}
.columns:not(:last-child) {
  margin-bottom: 0;
}
.footer {
  background-color: rgb(0, 255, 200);
  padding: 10%;
}
.typeof {
  font-size: 30px;
}
.description {
  font-size: 27px;
  padding: 10%;
}
/* #navLogo {
size: auto;
} */
.input {
  width: 400px;
  height: 40px;
  float: center;
}
#searchForm {
  padding: 2%;
  width: 100%;
  z-index: 500;
  flex-direction: row;
  justify-content: center;
  background-color: hotpink;
}
header {
  background-color: hotpink;
  text-align: center;
}
#movieColumn {
  padding: 3%;
  position: center;
}
.button {
  background-color: rgb(255, 73, 164);
  color: white;
  border: none;
}
#searchBtn {
  background-color: rgb(255, 73, 164);
  color: white;
}
.columns {
  margin-top: 0;
}

